* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    position: absolute;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3.2em;
    line-height: 1.1;
  }

  &__container {
    position: absolute;
    margin-top: 25vh;
  }
}
